site-essentials/assets/templates/social_loop.json
{
    "name": "BW Social Amplification",
    "flow": [
        {
            "id": 3,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 1627719,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "Brighter Social Amplify hook"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 109,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 493,
                    "y": -200
                }
            },
            "routes": [
                {
                    "disabled": true,
                    "flow": [
                        {
                            "id": 39,
                            "module": "http:MakeRequest",
                            "version": 4,
                            "parameters": {
                                "tlsType": "",
                                "proxyKeychain": "",
                                "apiKeyKeychain": 83041,
                                "authenticationType": "apiKey"
                            },
                            "mapper": {
                                "url": "https://brighterwebsites.com.au/wp-json/brighter-core/v1/social-amplification/create-shortlink",
                                "method": "post",
                                "headers": [
                                    {
                                        "name": "Content-Type",
                                        "value": "application/json"
                                    },
                                    {
                                        "name": "X-Brighter-Token",
                                        "value": "5OHxwlAHPOHOURM3k722ZnXVfEDujGWO"
                                    }
                                ],
                                "contentType": "json",
                                "inputMethod": "jsonString",
                                "shareCookies": false,
                                "parseResponse": "{{true}}",
                                "allowRedirects": true,
                                "stopOnHttpError": true,
                                "jsonStringBodyContent": "{\n  \"post_id\": {{3.post_id}},\r\n  \"platform\": \"facebook\",\r\n  \"utm_source\": \"social\",\r\n  \"utm_medium\": \"social\",\r\n  \"utm_campaign\": \"{{3.post_type}}\",\r\n  \"utm_content\": \"{{3.breadcrumb}}\"\n}",
                                "requestCompressedContent": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 150,
                                    "name": "YOURLS"
                                },
                                "restore": {
                                    "expect": {
                                        "method": {
                                            "mode": "chose",
                                            "label": "POST"
                                        },
                                        "headers": {
                                            "mode": "chose",
                                            "items": [
                                                null,
                                                null
                                            ]
                                        },
                                        "contentType": {
                                            "label": "application/jsonEnter data in the JSON format, as a string or using a data structure."
                                        },
                                        "inputMethod": {
                                            "label": "JSON stringEnter the JSON body as a raw text string. If values contain JSON reserved characters, you must escape them manually."
                                        },
                                        "shareCookies": {
                                            "mode": "chose"
                                        },
                                        "parseResponse": {
                                            "mode": "edit"
                                        },
                                        "allowRedirects": {
                                            "mode": "chose"
                                        },
                                        "paginationType": {
                                            "label": "Empty"
                                        },
                                        "queryParameters": {
                                            "mode": "chose"
                                        },
                                        "stopOnHttpError": {
                                            "mode": "chose"
                                        },
                                        "requestCompressedContent": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "tlsType": {
                                            "label": "Empty"
                                        },
                                        "proxyKeychain": {
                                            "label": "Choose a key"
                                        },
                                        "apiKeyKeychain": {
                                            "label": "Brighter Websites API"
                                        },
                                        "authenticationType": {
                                            "label": "API keyUse when the service requires an API key."
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "authenticationType",
                                        "type": "select",
                                        "label": "Authentication type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "noAuth",
                                                "apiKey",
                                                "basicAuth",
                                                "oAuth"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "tlsType",
                                        "type": "select",
                                        "label": "Transport layer security (TLS)",
                                        "validate": {
                                            "enum": [
                                                "mTls",
                                                "tls"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "proxyKeychain",
                                        "type": "keychain:proxy",
                                        "label": "Proxy"
                                    },
                                    {
                                        "name": "apiKeyKeychain",
                                        "type": "keychain:apikeyauth",
                                        "label": "Credentials",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "get",
                                                "head",
                                                "post",
                                                "put",
                                                "patch",
                                                "delete",
                                                "options"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "name",
                                                    "type": "text",
                                                    "label": "Name",
                                                    "required": true,
                                                    "validate": {
                                                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                                                    }
                                                },
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Value"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Header"
                                        },
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "queryParameters",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "name",
                                                    "type": "text",
                                                    "label": "Name",
                                                    "required": true
                                                },
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Value"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Parameter"
                                        },
                                        "type": "array",
                                        "label": "Query parameters"
                                    },
                                    {
                                        "name": "contentType",
                                        "type": "select",
                                        "label": "Body content type",
                                        "validate": {
                                            "enum": [
                                                "json",
                                                "multipart",
                                                "urlEncoded",
                                                "custom"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "parseResponse",
                                        "type": "boolean",
                                        "label": "Parse response",
                                        "required": true
                                    },
                                    {
                                        "name": "stopOnHttpError",
                                        "type": "boolean",
                                        "label": "Return error if HTTP request fails",
                                        "required": true
                                    },
                                    {
                                        "name": "timeout",
                                        "type": "uinteger",
                                        "label": "Timeout",
                                        "validate": {
                                            "max": 300,
                                            "min": 1
                                        }
                                    },
                                    {
                                        "name": "allowRedirects",
                                        "type": "boolean",
                                        "label": "Allow redirects",
                                        "required": true
                                    },
                                    {
                                        "name": "shareCookies",
                                        "type": "boolean",
                                        "label": "Share cookies with other HTTP modules",
                                        "required": true
                                    },
                                    {
                                        "name": "requestCompressedContent",
                                        "type": "boolean",
                                        "label": "Request compressed content",
                                        "required": true
                                    },
                                    {
                                        "name": "inputMethod",
                                        "type": "select",
                                        "label": "Body input method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "dataStructure",
                                                "jsonString"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "jsonStringBodyContent",
                                        "type": "text",
                                        "label": "Body content",
                                        "required": true
                                    },
                                    {
                                        "name": "paginationType",
                                        "type": "select",
                                        "label": "Pagination type",
                                        "validate": {
                                            "enum": [
                                                "offsetBased",
                                                "pageBased",
                                                "urlBased",
                                                "tokenBased"
                                            ]
                                        }
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "data",
                                        "type": "any",
                                        "label": "Data"
                                    },
                                    {
                                        "name": "statusCode",
                                        "type": "number",
                                        "label": "Status Code"
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "content-length",
                                                "type": "text",
                                                "label": "Content-Length"
                                            },
                                            {
                                                "name": "content-encoding",
                                                "type": "text",
                                                "label": "Content-Encoding"
                                            },
                                            {
                                                "name": "content-type",
                                                "type": "text",
                                                "label": "Content-Type"
                                            },
                                            {
                                                "name": "server",
                                                "type": "text",
                                                "label": "Server"
                                            },
                                            {
                                                "name": "cache-control",
                                                "type": "text",
                                                "label": "Cache-Control"
                                            },
                                            {
                                                "name": "set-cookie",
                                                "spec": {
                                                    "type": "text"
                                                },
                                                "type": "array",
                                                "label": "Set-Cookie"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Headers"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 5,
                            "module": "http:MakeRequest",
                            "version": 4,
                            "parameters": {
                                "tlsType": "",
                                "proxyKeychain": "",
                                "apiKeyKeychain": 83041,
                                "authenticationType": "apiKey"
                            },
                            "mapper": {
                                "url": "https://brighterwebsites.com.au/wp-json/brighter-core/v1/social-amplification/generate-prompt",
                                "method": "get",
                                "headers": [
                                    {
                                        "name": "X-Brighter-Token",
                                        "value": "5OHxwlAHPOHOURM3k722ZnXVfEDujGWO"
                                    }
                                ],
                                "shareCookies": false,
                                "parseResponse": true,
                                "allowRedirects": true,
                                "queryParameters": [
                                    {
                                        "name": "url",
                                        "value": "{{3.post_url}}"
                                    }
                                ],
                                "stopOnHttpError": true,
                                "requestCompressedContent": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 150,
                                    "name": "learn"
                                },
                                "restore": {
                                    "expect": {
                                        "method": {
                                            "mode": "chose",
                                            "label": "GET"
                                        },
                                        "headers": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "contentType": {
                                            "label": "Empty"
                                        },
                                        "shareCookies": {
                                            "mode": "chose"
                                        },
                                        "parseResponse": {
                                            "mode": "chose"
                                        },
                                        "allowRedirects": {
                                            "mode": "chose"
                                        },
                                        "paginationType": {
                                            "label": "Empty"
                                        },
                                        "queryParameters": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "stopOnHttpError": {
                                            "mode": "chose"
                                        },
                                        "requestCompressedContent": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "tlsType": {
                                            "label": "Empty"
                                        },
                                        "proxyKeychain": {
                                            "label": "Choose a key"
                                        },
                                        "apiKeyKeychain": {
                                            "label": "Brighter Websites API"
                                        },
                                        "authenticationType": {
                                            "label": "API keyUse when the service requires an API key."
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "authenticationType",
                                        "type": "select",
                                        "label": "Authentication type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "noAuth",
                                                "apiKey",
                                                "basicAuth",
                                                "oAuth"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "tlsType",
                                        "type": "select",
                                        "label": "Transport layer security (TLS)",
                                        "validate": {
                                            "enum": [
                                                "mTls",
                                                "tls"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "proxyKeychain",
                                        "type": "keychain:proxy",
                                        "label": "Proxy"
                                    },
                                    {
                                        "name": "apiKeyKeychain",
                                        "type": "keychain:apikeyauth",
                                        "label": "Credentials",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "get",
                                                "head",
                                                "post",
                                                "put",
                                                "patch",
                                                "delete",
                                                "options"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "name",
                                                    "type": "text",
                                                    "label": "Name",
                                                    "required": true,
                                                    "validate": {
                                                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                                                    }
                                                },
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Value"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Header"
                                        },
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "queryParameters",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "name",
                                                    "type": "text",
                                                    "label": "Name",
                                                    "required": true
                                                },
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Value"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Parameter"
                                        },
                                        "type": "array",
                                        "label": "Query parameters"
                                    },
                                    {
                                        "name": "contentType",
                                        "type": "select",
                                        "label": "Body content type",
                                        "validate": {
                                            "enum": [
                                                "json",
                                                "multipart",
                                                "urlEncoded",
                                                "custom"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "parseResponse",
                                        "type": "boolean",
                                        "label": "Parse response",
                                        "required": true
                                    },
                                    {
                                        "name": "stopOnHttpError",
                                        "type": "boolean",
                                        "label": "Return error if HTTP request fails",
                                        "required": true
                                    },
                                    {
                                        "name": "timeout",
                                        "type": "uinteger",
                                        "label": "Timeout",
                                        "validate": {
                                            "max": 300,
                                            "min": 1
                                        }
                                    },
                                    {
                                        "name": "allowRedirects",
                                        "type": "boolean",
                                        "label": "Allow redirects",
                                        "required": true
                                    },
                                    {
                                        "name": "shareCookies",
                                        "type": "boolean",
                                        "label": "Share cookies with other HTTP modules",
                                        "required": true
                                    },
                                    {
                                        "name": "requestCompressedContent",
                                        "type": "boolean",
                                        "label": "Request compressed content",
                                        "required": true
                                    },
                                    {
                                        "name": "paginationType",
                                        "type": "select",
                                        "label": "Pagination type",
                                        "validate": {
                                            "enum": [
                                                "offsetBased",
                                                "pageBased",
                                                "urlBased",
                                                "tokenBased"
                                            ]
                                        }
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "data",
                                        "type": "any",
                                        "label": "Data"
                                    },
                                    {
                                        "name": "statusCode",
                                        "type": "number",
                                        "label": "Status Code"
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "content-length",
                                                "type": "text",
                                                "label": "Content-Length"
                                            },
                                            {
                                                "name": "content-encoding",
                                                "type": "text",
                                                "label": "Content-Encoding"
                                            },
                                            {
                                                "name": "content-type",
                                                "type": "text",
                                                "label": "Content-Type"
                                            },
                                            {
                                                "name": "server",
                                                "type": "text",
                                                "label": "Server"
                                            },
                                            {
                                                "name": "cache-control",
                                                "type": "text",
                                                "label": "Cache-Control"
                                            },
                                            {
                                                "name": "set-cookie",
                                                "spec": {
                                                    "type": "text"
                                                },
                                                "type": "array",
                                                "label": "Set-Cookie"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Headers"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 67,
                            "module": "gemini-ai:createACompletionGeminiPro",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 6738922
                            },
                            "mapper": {
                                "model": "gemini-flash-latest",
                                "contents": [
                                    {
                                        "role": "user",
                                        "parts": [
                                            {
                                                "text": "You are a Content Strategist. Your task is to Identify at least 3 but less than {{5.data.count_h2}} unique points from the  Source Material based on H2 Headings.\n\nI am providing a list of Framing Options and a Source Material.\n\n##Context\n{{5.data.context}}\nTLDR: {{5.data.source_tldr}}\n##Framing\nAvailable Framings for this Type: {{5.data.framing_options}}\n\n##The Content\n{{5.data.source_material}}",
                                                "type": "text"
                                            }
                                        ]
                                    }
                                ],
                                "url_context": false,
                                "code_execution": false,
                                "generationConfig": {
                                    "topP": "1",
                                    "imageConfig": {},
                                    "temperature": "1",
                                    "thinkingConfig": {
                                        "thinkingBudget": "-1",
                                        "include_thoughts": false
                                    },
                                    "responseMimeType": "application/json",
                                    "new_responseSchema": [
                                        {
                                            "type": "string",
                                            "array": true,
                                            "required": true,
                                            "description": "unique topic from content",
                                            "property_name": "topic"
                                        }
                                    ],
                                    "responseModalities": [
                                        "text"
                                    ]
                                },
                                "system_instruction": {
                                    "parts": [
                                        {
                                            "text": "Your goal is to create maximum variety of \"unique points\" to promote a peice of content on a social media calendar.\n\n##Rules:\n1. Analyze the Content, H2 structure, and Purpose from context\n\n2. Treat every H2 as a separate pillar. Extract at least one unique point - an actionable insight or  knowledge nuggets, interesting views, or success outcomes from every section of the article. \n\n3. Ensure there are at least 3, and Max of {{5.data.count_h2}}\"Points\" \n\n4. Unique points should be short <10 words in lenght.\n\n5. if topics overlap, focus on the unique specific detail, statistic, or location releveant insight provided in that section. \n\n6. DO NOT merge points; instead, highlight a different facet of the strategy for each entry.\n\n7. Output your response as a valid JSON array of objects. Each object must represent one unique point."
                                        }
                                    ]
                                },
                                "google_maps_context": false,
                                "google_search_context": false,
                                "file_search_store_context": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 150
                                },
                                "restore": {
                                    "expect": {
                                        "model": {
                                            "mode": "chose",
                                            "label": "Gemini Flash Latest"
                                        },
                                        "contents": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "role": {
                                                        "mode": "chose",
                                                        "label": "User"
                                                    },
                                                    "parts": {
                                                        "mode": "chose",
                                                        "items": [
                                                            {
                                                                "type": {
                                                                    "mode": "chose",
                                                                    "label": "Text"
                                                                }
                                                            }
                                                        ]
                                                    }
                                                }
                                            ],
                                            "collapsed": true
                                        },
                                        "url_context": {
                                            "mode": "chose",
                                            "collapsed": true
                                        },
                                        "code_execution": {
                                            "mode": "chose",
                                            "collapsed": true
                                        },
                                        "safetySettings": {
                                            "mode": "chose",
                                            "collapsed": true
                                        },
                                        "generationConfig": {
                                            "nested": {
                                                "imageConfig": {
                                                    "nested": {
                                                        "imageSize": {
                                                            "mode": "chose",
                                                            "label": "Empty"
                                                        }
                                                    }
                                                },
                                                "stopSequences": {
                                                    "mode": "chose"
                                                },
                                                "thinkingConfig": {
                                                    "nested": {
                                                        "thinking_level": {
                                                            "mode": "chose",
                                                            "label": "Empty"
                                                        },
                                                        "include_thoughts": {
                                                            "mode": "chose"
                                                        }
                                                    }
                                                },
                                                "mediaResolution": {
                                                    "mode": "chose",
                                                    "label": "Empty"
                                                },
                                                "responseMimeType": {
                                                    "mode": "chose",
                                                    "label": "JSON Output"
                                                },
                                                "new_responseSchema": {
                                                    "mode": "chose",
                                                    "items": [
                                                        {
                                                            "type": {
                                                                "mode": "chose",
                                                                "label": "String",
                                                                "nested": [
                                                                    {
                                                                        "help": null,
                                                                        "name": "property_name",
                                                                        "spec": null,
                                                                        "type": "text",
                                                                        "label": "Property Name",
                                                                        "options": null,
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "help": null,
                                                                        "name": "description",
                                                                        "spec": null,
                                                                        "type": "text",
                                                                        "label": "Description",
                                                                        "options": null,
                                                                        "required": false
                                                                    },
                                                                    {
                                                                        "help": "The format is not being validated post generation. Add guidance in the prompt and/or property description.",
                                                                        "name": "format",
                                                                        "spec": null,
                                                                        "type": "select",
                                                                        "label": "Format",
                                                                        "options": [
                                                                            {
                                                                                "label": "Date-Time",
                                                                                "value": "date-time"
                                                                            },
                                                                            {
                                                                                "label": "Date",
                                                                                "value": "date"
                                                                            },
                                                                            {
                                                                                "label": "Time",
                                                                                "value": "time"
                                                                            },
                                                                            {
                                                                                "label": "Email",
                                                                                "value": "email"
                                                                            },
                                                                            {
                                                                                "label": "Hostname",
                                                                                "value": "hostname"
                                                                            },
                                                                            {
                                                                                "label": "IPv4",
                                                                                "value": "ipv4"
                                                                            },
                                                                            {
                                                                                "label": "IPv6",
                                                                                "value": "ipv6"
                                                                            },
                                                                            {
                                                                                "label": "URI",
                                                                                "value": "uri"
                                                                            },
                                                                            {
                                                                                "label": "UUID",
                                                                                "value": "uuid"
                                                                            },
                                                                            {
                                                                                "label": "Regex",
                                                                                "value": "regex"
                                                                            }
                                                                        ],
                                                                        "required": null
                                                                    },
                                                                    {
                                                                        "help": null,
                                                                        "name": "required",
                                                                        "spec": null,
                                                                        "type": "boolean",
                                                                        "label": "Required Property?",
                                                                        "options": null,
                                                                        "required": null
                                                                    },
                                                                    {
                                                                        "help": null,
                                                                        "name": "array",
                                                                        "spec": null,
                                                                        "type": "boolean",
                                                                        "label": "Make property an array?",
                                                                        "options": null,
                                                                        "required": null
                                                                    }
                                                                ]
                                                            },
                                                            "array": {
                                                                "mode": "chose"
                                                            },
                                                            "format": {
                                                                "mode": "chose",
                                                                "label": "Empty"
                                                            },
                                                            "required": {
                                                                "mode": "chose",
                                                                "collapsed": true
                                                            }
                                                        }
                                                    ]
                                                },
                                                "responseModalities": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "system_instruction": {
                                            "nested": {
                                                "parts": {
                                                    "mode": "chose",
                                                    "items": [
                                                        null
                                                    ]
                                                }
                                            }
                                        },
                                        "google_maps_context": {
                                            "mode": "chose",
                                            "collapsed": true
                                        },
                                        "google_search_context": {
                                            "mode": "chose",
                                            "collapsed": true
                                        },
                                        "file_search_store_context": {
                                            "mode": "chose",
                                            "collapsed": true
                                        },
                                        "function_declarations_context": {
                                            "mode": "chose",
                                            "collapsed": true
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "gemini-ai-q9zyjp"
                                            },
                                            "label": "BW Gemeni API"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:gemini-ai-q9zyjp",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "model",
                                        "type": "select",
                                        "label": "AI Model",
                                        "required": true
                                    },
                                    {
                                        "name": "contents",
                                        "spec": [
                                            {
                                                "name": "role",
                                                "type": "select",
                                                "label": "Role",
                                                "options": [
                                                    {
                                                        "label": "User",
                                                        "value": "user"
                                                    },
                                                    {
                                                        "label": "Model",
                                                        "value": "model"
                                                    }
                                                ]
                                            },
                                            {
                                                "name": "parts",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "select",
                                                        "label": "Message Type",
                                                        "options": [
                                                            {
                                                                "label": "Text",
                                                                "value": "text",
                                                                "nested": [
                                                                    {
                                                                        "name": "text",
                                                                        "type": "text",
                                                                        "label": "Text",
                                                                        "required": false
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "File",
                                                                "value": "file",
                                                                "nested": [
                                                                    {
                                                                        "name": "file_data",
                                                                        "spec": [
                                                                            {
                                                                                "name": "mime_type",
                                                                                "type": "text",
                                                                                "label": "Mime Type",
                                                                                "required": false
                                                                            },
                                                                            {
                                                                                "help": "You can use public or signed URLs as input by using the URLs.",
                                                                                "name": "file_uri",
                                                                                "type": "text",
                                                                                "label": "File URI",
                                                                                "required": false
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "File Data",
                                                                        "required": false
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Function Call",
                                                                "value": "functionCall",
                                                                "nested": [
                                                                    {
                                                                        "name": "functionCall",
                                                                        "spec": [
                                                                            {
                                                                                "help": "The name of the function to call.",
                                                                                "name": "name",
                                                                                "type": "text",
                                                                                "label": "Name",
                                                                                "required": true,
                                                                                "validate": {
                                                                                    "max": 64
                                                                                }
                                                                            },
                                                                            {
                                                                                "help": "The function parameters and values in JSON object format.",
                                                                                "name": "args",
                                                                                "type": "json",
                                                                                "label": "Arguments"
                                                                            },
                                                                            {
                                                                                "help": "The unique ID of the function call.",
                                                                                "name": "id",
                                                                                "type": "text",
                                                                                "label": "Function Call ID"
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "Function Call"
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Function Response",
                                                                "value": "functionResponse",
                                                                "nested": [
                                                                    {
                                                                        "name": "functionResponse",
                                                                        "spec": [
                                                                            {
                                                                                "help": "The name of the function to call.",
                                                                                "name": "name",
                                                                                "type": "text",
                                                                                "label": "Name",
                                                                                "required": true,
                                                                                "validate": {
                                                                                    "max": 64
                                                                                }
                                                                            },
                                                                            {
                                                                                "help": "The function response in JSON object format.",
                                                                                "name": "response",
                                                                                "type": "json",
                                                                                "label": "Response",
                                                                                "required": true
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "Function Response"
                                                                    }
                                                                ]
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "name": "thoughtSignature",
                                                        "type": "text",
                                                        "label": "Thought Signature"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Parts"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Messages",
                                        "required": true
                                    },
                                    {
                                        "name": "system_instruction",
                                        "spec": [
                                            {
                                                "name": "parts",
                                                "spec": {
                                                    "name": "value",
                                                    "spec": [
                                                        {
                                                            "name": "text",
                                                            "type": "text",
                                                            "label": "Value"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Prompt"
                                                },
                                                "type": "array",
                                                "label": "Prompts"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "System Instructions"
                                    },
                                    {
                                        "name": "safetySettings",
                                        "spec": [
                                            {
                                                "name": "category",
                                                "type": "select",
                                                "label": "Category",
                                                "options": [
                                                    {
                                                        "label": "Harassment content",
                                                        "value": "HARM_CATEGORY_HARASSMENT"
                                                    },
                                                    {
                                                        "label": "Hate speech and content",
                                                        "value": "HARM_CATEGORY_HATE_SPEECH"
                                                    },
                                                    {
                                                        "label": "Sexually explicit content.",
                                                        "value": "HARM_CATEGORY_SEXUALLY_EXPLICIT"
                                                    },
                                                    {
                                                        "label": "Dangerous content:",
                                                        "value": "HARM_CATEGORY_DANGEROUS_CONTENT"
                                                    }
                                                ]
                                            },
                                            {
                                                "name": "threshold",
                                                "type": "select",
                                                "label": "Threshold",
                                                "options": [
                                                    {
                                                        "label": "Block low and above.",
                                                        "value": "BLOCK_LOW_AND_ABOVE"
                                                    },
                                                    {
                                                        "label": "Block medium and above.",
                                                        "value": "BLOCK_MEDIUM_AND_ABOVE"
                                                    },
                                                    {
                                                        "label": "Block only high.",
                                                        "value": "BLOCK_ONLY_HIGH"
                                                    },
                                                    {
                                                        "label": "Block none.",
                                                        "value": "BLOCK_NONE"
                                                    }
                                                ]
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Safety Settings"
                                    },
                                    {
                                        "name": "generationConfig",
                                        "spec": [
                                            {
                                                "name": "stopSequences",
                                                "spec": {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Stop Sequence"
                                                },
                                                "type": "array",
                                                "label": "Stop Sequences"
                                            },
                                            {
                                                "name": "responseModalities",
                                                "type": "select",
                                                "label": "Response Modalities",
                                                "multiple": true,
                                                "validate": {
                                                    "enum": [
                                                        "text",
                                                        "image"
                                                    ]
                                                }
                                            },
                                            {
                                                "name": "maxOutputTokens",
                                                "type": "number",
                                                "label": "Max Output Tokens"
                                            },
                                            {
                                                "name": "temperature",
                                                "type": "number",
                                                "label": "Temperature",
                                                "validate": {
                                                    "max": 1,
                                                    "min": 0
                                                }
                                            },
                                            {
                                                "name": "topP",
                                                "type": "number",
                                                "label": "Top P",
                                                "validate": {
                                                    "max": 1,
                                                    "min": 0
                                                }
                                            },
                                            {
                                                "name": "topK",
                                                "type": "number",
                                                "label": "Top K"
                                            },
                                            {
                                                "name": "thinkingConfig",
                                                "spec": [
                                                    {
                                                        "name": "thinkingBudget",
                                                        "type": "number",
                                                        "label": "Thinking Budget"
                                                    },
                                                    {
                                                        "name": "include_thoughts",
                                                        "type": "boolean",
                                                        "label": "Include Thoughts"
                                                    },
                                                    {
                                                        "name": "thinking_level",
                                                        "type": "select",
                                                        "label": "Thinking Level",
                                                        "validate": {
                                                            "enum": [
                                                                "low",
                                                                "high"
                                                            ]
                                                        }
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Thinking Config"
                                            },
                                            {
                                                "name": "mediaResolution",
                                                "type": "select",
                                                "label": "Media Resolution",
                                                "validate": {
                                                    "enum": [
                                                        "media_resolution_low",
                                                        "media_resolution_medium",
                                                        "media_resolution_high"
                                                    ]
                                                }
                                            },
                                            {
                                                "name": "imageConfig",
                                                "spec": [
                                                    {
                                                        "name": "imageSize",
                                                        "type": "select",
                                                        "label": "Image Size",
                                                        "validate": {
                                                            "enum": [
                                                                "1K",
                                                                "2K",
                                                                "4K"
                                                            ]
                                                        }
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Image Configuration"
                                            },
                                            {
                                                "name": "responseMimeType",
                                                "type": "select",
                                                "label": "Response Format"
                                            },
                                            {
                                                "name": "responseSchema",
                                                "type": "any",
                                                "label": "Response Schema (Deprecated)"
                                            },
                                            {
                                                "name": "new_responseSchema",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "select",
                                                        "label": "Value Type",
                                                        "options": [
                                                            {
                                                                "label": "String",
                                                                "value": "string",
                                                                "nested": "rpc://gemini-ai/1/createResponseSchema?type=string"
                                                            },
                                                            {
                                                                "label": "Enum",
                                                                "value": "enum",
                                                                "nested": "rpc://gemini-ai/1/createResponseSchema?type=enum"
                                                            },
                                                            {
                                                                "label": "Number",
                                                                "value": "number",
                                                                "nested": "rpc://gemini-ai/1/createResponseSchema?type=number"
                                                            },
                                                            {
                                                                "label": "Integer",
                                                                "value": "integer",
                                                                "nested": "rpc://gemini-ai/1/createResponseSchema?type=integer"
                                                            },
                                                            {
                                                                "label": "Boolean",
                                                                "value": "boolean",
                                                                "nested": "rpc://gemini-ai/1/createResponseSchema?type=boolean"
                                                            },
                                                            {
                                                                "label": "Object",
                                                                "value": "object",
                                                                "nested": "rpc://gemini-ai/1/createResponseSchema?type=object"
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Response Schema"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Generation configurations"
                                    },
                                    {
                                        "name": "tools",
                                        "type": "any",
                                        "label": "Tools"
                                    },
                                    {
                                        "name": "tool_config",
                                        "type": "any",
                                        "label": "Tool Config"
                                    },
                                    {
                                        "name": "function_declarations_context",
                                        "type": "boolean",
                                        "label": "Function Declarations Grounding"
                                    },
                                    {
                                        "name": "url_context",
                                        "type": "boolean",
                                        "label": "URL Context"
                                    },
                                    {
                                        "name": "google_search_context",
                                        "type": "boolean",
                                        "label": "Google Search Grounding"
                                    },
                                    {
                                        "name": "code_execution",
                                        "type": "boolean",
                                        "label": "Code Execution"
                                    },
                                    {
                                        "name": "google_maps_context",
                                        "type": "boolean",
                                        "label": "Google Maps Grounding"
                                    },
                                    {
                                        "name": "file_search_store_context",
                                        "type": "boolean",
                                        "label": "File Search Store Context"
                                    }
                                ],
                                "advanced": true
                            }
                        },
                        {
                            "id": 79,
                            "module": "openai-gpt-3:messageAssistantAdvanced",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 5711250
                            },
                            "mapper": {
                                "role": "user",
                                "message": "You will receive an array of [Extracted Topics] and a list of [Framing Rules].\n\nYour Task: Create 10 unique social media posts. For each post, you must:\n\n- Select one topic_id from the provided topics.\n- Select one label from the provided framing rules.\n- Write the post and a first comment based on that specific combination.\n- Include emoji's, line breaks and use brand voice. \nData Rule: You MUST include the topic_id and the framing_label in the JSON object for every post so I can record them in my database. Do not hallucinate IDs; only use the ones provided.\n\n##Extracted Topics\n{{67.result}}\n##Framing Rules]\n{{5.data.framing_options}}\n##Content to Promote\nTitle: {{5.data.context.title}}\nTLDR: {{5.data.source_tldr}}\nContent Body:\n{{5.data.source_material}}",
                                "assistantId": "asst_5sIL8BGAB562F5Wh8659tuaB",
                                "tool_choice": "auto"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1831,
                                    "y": 150
                                },
                                "restore": {
                                    "expect": {
                                        "role": {
                                            "label": "User"
                                        },
                                        "model": {
                                            "mode": "chose"
                                        },
                                        "tools": {
                                            "mode": "chose"
                                        },
                                        "threadId": {
                                            "collapsed": true
                                        },
                                        "image_urls": {
                                            "mode": "chose",
                                            "collapsed": true
                                        },
                                        "assistantId": {
                                            "mode": "chose",
                                            "label": "Brighter Websites - Social Media (gpt-4.1-mini)",
                                            "nested": []
                                        },
                                        "image_files": {
                                            "mode": "chose",
                                            "collapsed": true
                                        },
                                        "tool_choice": {
                                            "mode": "chose",
                                            "label": "Auto",
                                            "collapsed": true
                                        },
                                        "response_format": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "truncation_strategy": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "file_search_resources": {
                                            "mode": "chose"
                                        },
                                        "code_interpreter_resources": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "openai-gpt-3"
                                            },
                                            "label": "BW Open AI"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:openai-gpt-3",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "assistantId",
                                        "type": "select",
                                        "label": "Assistant",
                                        "required": true
                                    },
                                    {
                                        "name": "role",
                                        "type": "select",
                                        "label": "Role",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "user",
                                                "assistant"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "threadId",
                                        "type": "text",
                                        "label": "Thread ID"
                                    },
                                    {
                                        "name": "model",
                                        "type": "select",
                                        "label": "Model"
                                    },
                                    {
                                        "name": "tools",
                                        "type": "select",
                                        "label": "Tools",
                                        "multiple": true,
                                        "validate": {
                                            "enum": [
                                                "file_search",
                                                "code_interpreter"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "file_search_resources",
                                        "type": "select",
                                        "label": "File Search Resources"
                                    },
                                    {
                                        "name": "code_interpreter_resources",
                                        "type": "select",
                                        "label": "Code Interpreter Resources",
                                        "multiple": true,
                                        "validate": {
                                            "maxItems": 20
                                        }
                                    },
                                    {
                                        "name": "tool_choice",
                                        "type": "select",
                                        "label": "Tool Choice",
                                        "validate": {
                                            "enum": [
                                                "none",
                                                "auto",
                                                "required",
                                                "file_search",
                                                "code_interpreter",
                                                "function"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "instructions",
                                        "type": "text",
                                        "label": "Instructions"
                                    },
                                    {
                                        "name": "max_prompt_tokens",
                                        "type": "uinteger",
                                        "label": "Max Prompt Tokens"
                                    },
                                    {
                                        "name": "max_completion_tokens",
                                        "type": "uinteger",
                                        "label": "Max Completion Tokens"
                                    },
                                    {
                                        "name": "temperature",
                                        "type": "number",
                                        "label": "Temperature",
                                        "validate": {
                                            "max": 2,
                                            "min": 0
                                        }
                                    },
                                    {
                                        "name": "top_p",
                                        "type": "number",
                                        "label": "Top P",
                                        "validate": {
                                            "max": 1,
                                            "min": 0
                                        }
                                    },
                                    {
                                        "name": "response_format",
                                        "type": "select",
                                        "label": "Response Format",
                                        "validate": {
                                            "enum": [
                                                "auto",
                                                "json_object",
                                                "text"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "truncation_strategy",
                                        "type": "select",
                                        "label": "Truncation Strategy",
                                        "validate": {
                                            "enum": [
                                                "auto",
                                                "last_messages"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "message",
                                        "type": "text",
                                        "label": "Message",
                                        "required": true
                                    },
                                    {
                                        "name": "image_files",
                                        "type": "select",
                                        "label": "Image Files",
                                        "multiple": true
                                    },
                                    {
                                        "name": "image_urls",
                                        "spec": {
                                            "name": "value",
                                            "type": "url",
                                            "label": "Image URL",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "Image URLs"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 80,
                            "module": "regexp:Replace",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "text": "{{79.result}}",
                                "value": "https://bweb1.com.au/{{39.data.keyword}}",
                                "global": true,
                                "pattern": "(\\[SHORTLINK\\])",
                                "multiline": true,
                                "sensitive": true,
                                "singleline": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2173,
                                    "y": 153
                                },
                                "restore": {
                                    "expect": {
                                        "global": {
                                            "mode": "chose"
                                        },
                                        "multiline": {
                                            "mode": "chose"
                                        },
                                        "sensitive": {
                                            "mode": "chose"
                                        },
                                        "singleline": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "pattern",
                                        "type": "text",
                                        "label": "Pattern",
                                        "required": true
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "New value"
                                    },
                                    {
                                        "name": "global",
                                        "type": "boolean",
                                        "label": "Global match",
                                        "required": true
                                    },
                                    {
                                        "name": "sensitive",
                                        "type": "boolean",
                                        "label": "Case sensitive",
                                        "required": true
                                    },
                                    {
                                        "name": "multiline",
                                        "type": "boolean",
                                        "label": "Multiline",
                                        "required": true
                                    },
                                    {
                                        "name": "singleline",
                                        "type": "boolean",
                                        "label": "Singleline",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 88,
                            "module": "json:ParseJSON",
                            "version": 1,
                            "parameters": {
                                "type": ""
                            },
                            "mapper": {
                                "json": "{{80.text}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2700,
                                    "y": 150
                                },
                                "restore": {
                                    "parameters": {
                                        "type": {
                                            "label": "Choose a data structure"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "type",
                                        "type": "udt",
                                        "label": "Data structure"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "json",
                                        "type": "text",
                                        "label": "JSON string",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 96,
                            "module": "builtin:BasicRouter",
                            "version": 1,
                            "mapper": null,
                            "metadata": {
                                "designer": {
                                    "x": 3000,
                                    "y": 150
                                }
                            },
                            "routes": [
                                {
                                    "flow": [
                                        {
                                            "id": 87,
                                            "module": "google-sheets:addMultipleRows",
                                            "version": 2,
                                            "parameters": {
                                                "__IMTCONN__": 4937572
                                            },
                                            "mapper": {
                                                "rows": [
                                                    {
                                                        "values": [
                                                            "{{88.social_post}}",
                                                            "",
                                                            "",
                                                            "",
                                                            "",
                                                            "{{88.first_comment}}",
                                                            "{{5.data.source_material}}"
                                                        ]
                                                    }
                                                ],
                                                "sheetId": "Sheet1",
                                                "spreadsheetId": "1qT3mOoy7iFMhajAefz0DL-VmSiRM-UijpQy8428FtoM",
                                                "tableFirstRow": "A1:Z1",
                                                "insertDataOption": "INSERT_ROWS",
                                                "valueInputOption": "USER_ENTERED",
                                                "insertUnformatted": false
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 3300,
                                                    "y": 0
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "rows": {
                                                            "mode": "chose",
                                                            "items": [
                                                                {
                                                                    "values": {
                                                                        "mode": "chose",
                                                                        "items": [
                                                                            null,
                                                                            null,
                                                                            null,
                                                                            null,
                                                                            null,
                                                                            null,
                                                                            null
                                                                        ]
                                                                    }
                                                                }
                                                            ]
                                                        },
                                                        "sheetId": {
                                                            "mode": "edit"
                                                        },
                                                        "spreadsheetId": {
                                                            "rpcSearch": {
                                                                "label": ".1T33 Social Posting Brighter Websites",
                                                                "value": "1qT3mOoy7iFMhajAefz0DL-VmSiRM-UijpQy8428FtoM"
                                                            }
                                                        },
                                                        "tableFirstRow": {
                                                            "label": "A-Z"
                                                        },
                                                        "insertDataOption": {
                                                            "mode": "chose",
                                                            "label": "Insert rows"
                                                        },
                                                        "valueInputOption": {
                                                            "mode": "chose",
                                                            "label": "User entered"
                                                        },
                                                        "insertUnformatted": {
                                                            "mode": "chose"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "google"
                                                            },
                                                            "label": "My Google connection (support@brighterwebsites.com.au)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:google",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "spreadsheetId",
                                                        "type": "text",
                                                        "label": "Spreadsheet ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "insertUnformatted",
                                                        "type": "boolean",
                                                        "label": "Unformatted",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "valueInputOption",
                                                        "type": "select",
                                                        "label": "Value input option"
                                                    },
                                                    {
                                                        "name": "insertDataOption",
                                                        "type": "select",
                                                        "label": "Insert data option"
                                                    },
                                                    {
                                                        "type": "hidden"
                                                    },
                                                    {
                                                        "mode": "edit",
                                                        "name": "sheetId",
                                                        "type": "select",
                                                        "label": "Sheet Name",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "tableFirstRow",
                                                        "type": "select",
                                                        "label": "Column range",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "A1:Z1",
                                                                "A1:BZ1",
                                                                "A1:CZ1",
                                                                "A1:DZ1",
                                                                "A1:MZ1",
                                                                "A1:ZZ1"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "mode": "edit",
                                                        "name": "rows",
                                                        "spec": {
                                                            "name": "value",
                                                            "spec": [
                                                                {
                                                                    "name": "values",
                                                                    "spec": {
                                                                        "type": "text",
                                                                        "label": "Column"
                                                                    },
                                                                    "type": "array",
                                                                    "label": "Values",
                                                                    "labels": {
                                                                        "add": "Add value"
                                                                    }
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Row"
                                                        },
                                                        "type": "array",
                                                        "label": "Rows"
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 95,
                                            "module": "airtable:bulkCreateRecords",
                                            "version": 3,
                                            "parameters": {
                                                "__IMTCONN__": 7178861
                                            },
                                            "mapper": {
                                                "base": "appAae9QkNj0f0LUd",
                                                "table": "tblQQLMTR6wBZxuNc",
                                                "select": "list",
                                                "records": [
                                                    {
                                                        "fldH5f47VvDN7uRzy": "{{3.post_url}}",
                                                        "fldvUMU7LY8PZUPOO": "{{67.result.topic}}"
                                                    }
                                                ],
                                                "typecast": true,
                                                "useColumnId": false
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 3300,
                                                    "y": 300,
                                                    "name": "Content Focus Point"
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "base": {
                                                            "label": "Brighter Websites"
                                                        },
                                                        "table": {
                                                            "label": "Content Focus Points"
                                                        },
                                                        "select": {
                                                            "label": "Select from the list"
                                                        },
                                                        "records": {
                                                            "items": [
                                                                {
                                                                    "fldH5f47VvDN7uRzy": {
                                                                        "mode": "edit"
                                                                    },
                                                                    "flddWWXDuUPSWaBfd": {
                                                                        "mode": "chose"
                                                                    }
                                                                }
                                                            ]
                                                        },
                                                        "typecast": {
                                                            "mode": "chose"
                                                        },
                                                        "useColumnId": {
                                                            "mode": "chose"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "airtable3"
                                                            },
                                                            "label": "Brighter Websites (User ID: usrH4YOvhKMwsd7Rw)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:airtable3,airtable2",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "select",
                                                        "type": "select",
                                                        "label": "Create Records in Bulk",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "map",
                                                                "list"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "typecast",
                                                        "type": "boolean",
                                                        "label": "Smart links",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "useColumnId",
                                                        "type": "boolean",
                                                        "label": "Use Column ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "base",
                                                        "type": "select",
                                                        "label": "Base",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "table",
                                                        "type": "select",
                                                        "label": "Table",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "records",
                                                        "spec": {
                                                            "name": "value",
                                                            "spec": [
                                                                {
                                                                    "name": "fldvUMU7LY8PZUPOO",
                                                                    "type": "text",
                                                                    "label": "Focus Point"
                                                                },
                                                                {
                                                                    "name": "fldH5f47VvDN7uRzy",
                                                                    "spec": {
                                                                        "label": "Record ID"
                                                                    },
                                                                    "type": "array",
                                                                    "label": "Related Content"
                                                                },
                                                                {
                                                                    "name": "flddWWXDuUPSWaBfd",
                                                                    "spec": {
                                                                        "label": "Record ID"
                                                                    },
                                                                    "type": "array",
                                                                    "label": "Social Posts"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Record"
                                                        },
                                                        "type": "array",
                                                        "label": "Records",
                                                        "required": true
                                                    }
                                                ],
                                                "interface": [
                                                    {
                                                        "name": "__IMTLENGTH__",
                                                        "type": "uinteger",
                                                        "label": "Total number of bundles"
                                                    },
                                                    {
                                                        "name": "__IMTINDEX__",
                                                        "type": "uinteger",
                                                        "label": "Bundle order position"
                                                    },
                                                    {
                                                        "name": "id",
                                                        "type": "text",
                                                        "label": "ID"
                                                    },
                                                    {
                                                        "name": "createdTime",
                                                        "type": "date",
                                                        "label": "Created Time"
                                                    },
                                                    {
                                                        "name": "Focus Point",
                                                        "type": "text",
                                                        "label": "Focus Point",
                                                        "multiline": true
                                                    },
                                                    {
                                                        "name": "Focus Point ID",
                                                        "spec": [
                                                            {
                                                                "name": "specialValue",
                                                                "type": "text",
                                                                "label": "Special Value"
                                                            },
                                                            {
                                                                "name": "error",
                                                                "type": "text",
                                                                "label": "Error"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Focus Point ID"
                                                    },
                                                    {
                                                        "name": "Related Content",
                                                        "spec": {
                                                            "label": "Record ID"
                                                        },
                                                        "type": "array",
                                                        "label": "Related Content"
                                                    },
                                                    {
                                                        "name": "Social Posts",
                                                        "spec": {
                                                            "label": "Record ID"
                                                        },
                                                        "type": "array",
                                                        "label": "Social Posts"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 106,
                                            "module": "airtable:bulkCreateRecords",
                                            "version": 3,
                                            "parameters": {
                                                "__IMTCONN__": 7178861
                                            },
                                            "mapper": {
                                                "base": "appAae9QkNj0f0LUd",
                                                "table": "tblK9E3eLyGYCNN7f",
                                                "select": "list",
                                                "records": [
                                                    {
                                                        "flddsAkl9aOR2elvz": [
                                                            "{{3.post_url}}"
                                                        ],
                                                        "fldh83CDYxfYkekHZ": "{{39.data.shorturl}}",
                                                        "fldsa7M94YrK20ewk": "{{39.data.destination_url}}"
                                                    }
                                                ],
                                                "typecast": true,
                                                "useColumnId": false
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 3600,
                                                    "y": 300,
                                                    "name": "Shortlinks"
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "base": {
                                                            "label": "Brighter Websites"
                                                        },
                                                        "table": {
                                                            "label": "Shortlinks"
                                                        },
                                                        "select": {
                                                            "label": "Select from the list"
                                                        },
                                                        "records": {
                                                            "items": [
                                                                {
                                                                    "flddsAkl9aOR2elvz": {
                                                                        "mode": "chose",
                                                                        "items": [
                                                                            null
                                                                        ]
                                                                    },
                                                                    "fldv8KS5fCamUN3TC": {
                                                                        "mode": "chose"
                                                                    }
                                                                }
                                                            ]
                                                        },
                                                        "typecast": {
                                                            "mode": "chose"
                                                        },
                                                        "useColumnId": {
                                                            "mode": "chose"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "airtable3"
                                                            },
                                                            "label": "Brighter Websites (User ID: usrH4YOvhKMwsd7Rw)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:airtable3,airtable2",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "select",
                                                        "type": "select",
                                                        "label": "Create Records in Bulk",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "map",
                                                                "list"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "typecast",
                                                        "type": "boolean",
                                                        "label": "Smart links",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "useColumnId",
                                                        "type": "boolean",
                                                        "label": "Use Column ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "base",
                                                        "type": "select",
                                                        "label": "Base",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "table",
                                                        "type": "select",
                                                        "label": "Table",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "records",
                                                        "spec": {
                                                            "name": "value",
                                                            "spec": [
                                                                {
                                                                    "name": "fldh83CDYxfYkekHZ",
                                                                    "type": "text",
                                                                    "label": "Shortlink"
                                                                },
                                                                {
                                                                    "name": "fldsa7M94YrK20ewk",
                                                                    "type": "text",
                                                                    "label": "UTM Destination"
                                                                },
                                                                {
                                                                    "name": "flddsAkl9aOR2elvz",
                                                                    "spec": {
                                                                        "label": "Record ID"
                                                                    },
                                                                    "type": "array",
                                                                    "label": "Related Content"
                                                                },
                                                                {
                                                                    "name": "fldv8KS5fCamUN3TC",
                                                                    "spec": {
                                                                        "label": "Record ID"
                                                                    },
                                                                    "type": "array",
                                                                    "label": "Social Posts"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Record"
                                                        },
                                                        "type": "array",
                                                        "label": "Records",
                                                        "required": true
                                                    }
                                                ],
                                                "interface": [
                                                    {
                                                        "name": "id",
                                                        "type": "text",
                                                        "label": "ID"
                                                    },
                                                    {
                                                        "name": "createdTime",
                                                        "type": "date",
                                                        "label": "Created Time"
                                                    },
                                                    {
                                                        "name": "Shortlink",
                                                        "type": "text",
                                                        "label": "Shortlink"
                                                    },
                                                    {
                                                        "name": "UTM Destination",
                                                        "type": "text",
                                                        "label": "UTM Destination"
                                                    },
                                                    {
                                                        "name": "Related Content",
                                                        "spec": {
                                                            "label": "Record ID"
                                                        },
                                                        "type": "array",
                                                        "label": "Related Content"
                                                    },
                                                    {
                                                        "name": "Social Posts",
                                                        "spec": {
                                                            "label": "Record ID"
                                                        },
                                                        "type": "array",
                                                        "label": "Social Posts"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 107,
                                            "module": "airtable:bulkCreateRecords",
                                            "version": 3,
                                            "parameters": {
                                                "__IMTCONN__": 7178861
                                            },
                                            "mapper": {
                                                "base": "appAae9QkNj0f0LUd",
                                                "table": "tblxQrYRR7yYPbRPS",
                                                "select": "list",
                                                "records": [
                                                    {
                                                        "fldAWBkoEgaY58Ih4": "{{now}}",
                                                        "fldJqR3ouQGLnkB4E": "{{88.social_post}}",
                                                        "fldKTbnzMH2jpb8yF": "{{3.content_type}}",
                                                        "fldjS6Ovou6sGnzuo": [
                                                            "{{3.post_url}}"
                                                        ],
                                                        "fldoR5aoHqhEi5ME0": "{{39.data.shorturl}}",
                                                        "fldrnHBodM4KxgzW3": "{{88.first_comment}}",
                                                        "fldwyKGIxYJukIxYN": [
                                                            "{{88.framing_label}}"
                                                        ]
                                                    }
                                                ],
                                                "typecast": true,
                                                "useColumnId": false
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 3900,
                                                    "y": 300,
                                                    "name": "Socials"
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "base": {
                                                            "label": "Brighter Websites"
                                                        },
                                                        "table": {
                                                            "label": "Social Posts"
                                                        },
                                                        "select": {
                                                            "label": "Select from the list"
                                                        },
                                                        "records": {
                                                            "items": [
                                                                {
                                                                    "fldAfmwqAmbQvSNEx": {
                                                                        "mode": "edit"
                                                                    },
                                                                    "fldYMi2uahl3v8AVH": {
                                                                        "mode": "chose"
                                                                    },
                                                                    "fldjS6Ovou6sGnzuo": {
                                                                        "mode": "chose",
                                                                        "items": [
                                                                            null
                                                                        ]
                                                                    },
                                                                    "fldmIiSQoJCAhReHr": {
                                                                        "mode": "chose"
                                                                    },
                                                                    "fldoR5aoHqhEi5ME0": {
                                                                        "mode": "edit"
                                                                    },
                                                                    "fldwyKGIxYJukIxYN": {
                                                                        "mode": "chose",
                                                                        "items": [
                                                                            null
                                                                        ]
                                                                    }
                                                                }
                                                            ]
                                                        },
                                                        "typecast": {
                                                            "mode": "chose"
                                                        },
                                                        "useColumnId": {
                                                            "mode": "chose"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "airtable3"
                                                            },
                                                            "label": "Brighter Websites (User ID: usrH4YOvhKMwsd7Rw)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:airtable3,airtable2",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "select",
                                                        "type": "select",
                                                        "label": "Create Records in Bulk",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "map",
                                                                "list"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "typecast",
                                                        "type": "boolean",
                                                        "label": "Smart links",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "useColumnId",
                                                        "type": "boolean",
                                                        "label": "Use Column ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "base",
                                                        "type": "select",
                                                        "label": "Base",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "table",
                                                        "type": "select",
                                                        "label": "Table",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "records",
                                                        "spec": {
                                                            "name": "value",
                                                            "spec": [
                                                                {
                                                                    "name": "fldYMi2uahl3v8AVH",
                                                                    "spec": {
                                                                        "label": "Record ID"
                                                                    },
                                                                    "type": "array",
                                                                    "label": "Related Content Focus Topic"
                                                                },
                                                                {
                                                                    "name": "fldwyKGIxYJukIxYN",
                                                                    "spec": {
                                                                        "label": "Record ID"
                                                                    },
                                                                    "type": "array",
                                                                    "label": "Framing"
                                                                },
                                                                {
                                                                    "name": "fldJqR3ouQGLnkB4E",
                                                                    "type": "text",
                                                                    "label": "Social Post Text"
                                                                },
                                                                {
                                                                    "name": "fldrnHBodM4KxgzW3",
                                                                    "type": "text",
                                                                    "label": "First Comment"
                                                                },
                                                                {
                                                                    "name": "fldAWBkoEgaY58Ih4",
                                                                    "time": false,
                                                                    "type": "date",
                                                                    "label": "Date Generated"
                                                                },
                                                                {
                                                                    "name": "fldjS6Ovou6sGnzuo",
                                                                    "spec": {
                                                                        "label": "Record ID"
                                                                    },
                                                                    "type": "array",
                                                                    "label": "Related Content"
                                                                },
                                                                {
                                                                    "name": "fldKTbnzMH2jpb8yF",
                                                                    "type": "text",
                                                                    "label": "Content Type"
                                                                },
                                                                {
                                                                    "name": "fldmIiSQoJCAhReHr",
                                                                    "spec": {
                                                                        "mode": "edit",
                                                                        "type": "select",
                                                                        "label": "Value",
                                                                        "dynamic": true,
                                                                        "options": [
                                                                            {
                                                                                "label": "Facebook",
                                                                                "value": "Facebook"
                                                                            },
                                                                            {
                                                                                "label": "Twitter",
                                                                                "value": "Twitter"
                                                                            },
                                                                            {
                                                                                "label": "LinkedIn",
                                                                                "value": "LinkedIn"
                                                                            },
                                                                            {
                                                                                "label": "Instagram",
                                                                                "value": "Instagram"
                                                                            },
                                                                            {
                                                                                "label": "TikTok",
                                                                                "value": "TikTok"
                                                                            },
                                                                            {
                                                                                "label": "YouTube",
                                                                                "value": "YouTube"
                                                                            },
                                                                            {
                                                                                "label": "Pinterest",
                                                                                "value": "Pinterest"
                                                                            },
                                                                            {
                                                                                "label": "Other",
                                                                                "value": "Other"
                                                                            }
                                                                        ],
                                                                        "validate": false
                                                                    },
                                                                    "type": "array",
                                                                    "label": "Channels"
                                                                },
                                                                {
                                                                    "name": "fldoR5aoHqhEi5ME0",
                                                                    "spec": {
                                                                        "label": "Record ID"
                                                                    },
                                                                    "type": "array",
                                                                    "label": "Shortlink"
                                                                },
                                                                {
                                                                    "name": "fldUfMMsttVJkzhKe",
                                                                    "type": "text",
                                                                    "label": "Social Image Text"
                                                                },
                                                                {
                                                                    "name": "fldmJJIz1aVs9w7GY",
                                                                    "type": "text",
                                                                    "label": "Social Post Image"
                                                                },
                                                                {
                                                                    "mode": "edit",
                                                                    "name": "fldAfmwqAmbQvSNEx",
                                                                    "type": "select",
                                                                    "label": "Status",
                                                                    "dynamic": true,
                                                                    "options": [
                                                                        {
                                                                            "label": "Draft",
                                                                            "value": "Draft"
                                                                        },
                                                                        {
                                                                            "label": "Scheduled",
                                                                            "value": "Scheduled"
                                                                        },
                                                                        {
                                                                            "label": "Published",
                                                                            "value": "Published"
                                                                        },
                                                                        {
                                                                            "label": "Archived",
                                                                            "value": "Archived"
                                                                        }
                                                                    ],
                                                                    "validate": false
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Record"
                                                        },
                                                        "type": "array",
                                                        "label": "Records",
                                                        "required": true
                                                    }
                                                ],
                                                "interface": [
                                                    {
                                                        "name": "id",
                                                        "type": "text",
                                                        "label": "ID"
                                                    },
                                                    {
                                                        "name": "createdTime",
                                                        "type": "date",
                                                        "label": "Created Time"
                                                    },
                                                    {
                                                        "name": "Social Post ID",
                                                        "spec": [
                                                            {
                                                                "name": "specialValue",
                                                                "type": "text",
                                                                "label": "Special Value"
                                                            },
                                                            {
                                                                "name": "error",
                                                                "type": "text",
                                                                "label": "Error"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Social Post ID"
                                                    },
                                                    {
                                                        "name": "Related Content Focus Topic",
                                                        "spec": {
                                                            "label": "Record ID"
                                                        },
                                                        "type": "array",
                                                        "label": "Related Content Focus Topic"
                                                    },
                                                    {
                                                        "name": "Framing",
                                                        "spec": {
                                                            "label": "Record ID"
                                                        },
                                                        "type": "array",
                                                        "label": "Framing"
                                                    },
                                                    {
                                                        "name": "Social Post Text",
                                                        "type": "text",
                                                        "label": "Social Post Text",
                                                        "multiline": true
                                                    },
                                                    {
                                                        "name": "First Comment",
                                                        "type": "text",
                                                        "label": "First Comment",
                                                        "multiline": true
                                                    },
                                                    {
                                                        "name": "Date Generated",
                                                        "time": false,
                                                        "type": "date",
                                                        "label": "Date Generated"
                                                    },
                                                    {
                                                        "name": "Related Content",
                                                        "spec": {
                                                            "label": "Record ID"
                                                        },
                                                        "type": "array",
                                                        "label": "Related Content"
                                                    },
                                                    {
                                                        "name": "Content Type",
                                                        "type": "text",
                                                        "label": "Content Type"
                                                    },
                                                    {
                                                        "name": "Channels",
                                                        "type": "array",
                                                        "label": "Channels",
                                                        "dynamic": true,
                                                        "editable": true
                                                    },
                                                    {
                                                        "name": "Shortlink",
                                                        "spec": {
                                                            "label": "Record ID"
                                                        },
                                                        "type": "array",
                                                        "label": "Shortlink"
                                                    },
                                                    {
                                                        "name": "Social Image Text",
                                                        "type": "text",
                                                        "label": "Social Image Text"
                                                    },
                                                    {
                                                        "name": "Social Post Image",
                                                        "type": "text",
                                                        "label": "Social Post Image"
                                                    },
                                                    {
                                                        "name": "Status",
                                                        "type": "text",
                                                        "label": "Status"
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 110,
                            "module": "http:MakeRequest",
                            "version": 4,
                            "parameters": {
                                "tlsType": "",
                                "proxyKeychain": "",
                                "apiKeyKeychain": 83041,
                                "authenticationType": "apiKey"
                            },
                            "mapper": {
                                "url": "https://brighterwebsites.com.au/wp-json/brighter-core/v1/social-amplification/generate-prompt",
                                "method": "get",
                                "headers": [
                                    {
                                        "name": "X-Brighter-Token",
                                        "value": "5OHxwlAHPOHOURM3k722ZnXVfEDujGWO"
                                    }
                                ],
                                "shareCookies": false,
                                "parseResponse": true,
                                "allowRedirects": true,
                                "queryParameters": [
                                    {
                                        "name": "url",
                                        "value": "{{3.post_url}}"
                                    }
                                ],
                                "stopOnHttpError": true,
                                "requestCompressedContent": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 828,
                                    "y": -375,
                                    "name": "learn"
                                },
                                "restore": {
                                    "expect": {
                                        "method": {
                                            "mode": "chose",
                                            "label": "GET"
                                        },
                                        "headers": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "contentType": {
                                            "label": "Empty"
                                        },
                                        "shareCookies": {
                                            "mode": "chose"
                                        },
                                        "parseResponse": {
                                            "mode": "chose"
                                        },
                                        "allowRedirects": {
                                            "mode": "chose"
                                        },
                                        "paginationType": {
                                            "label": "Empty"
                                        },
                                        "queryParameters": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "stopOnHttpError": {
                                            "mode": "chose"
                                        },
                                        "requestCompressedContent": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "tlsType": {
                                            "label": "Empty"
                                        },
                                        "proxyKeychain": {
                                            "label": "Choose a key"
                                        },
                                        "apiKeyKeychain": {
                                            "label": "Brighter Websites API"
                                        },
                                        "authenticationType": {
                                            "label": "API keyUse when the service requires an API key."
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "authenticationType",
                                        "type": "select",
                                        "label": "Authentication type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "noAuth",
                                                "apiKey",
                                                "basicAuth",
                                                "oAuth"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "tlsType",
                                        "type": "select",
                                        "label": "Transport layer security (TLS)",
                                        "validate": {
                                            "enum": [
                                                "mTls",
                                                "tls"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "proxyKeychain",
                                        "type": "keychain:proxy",
                                        "label": "Proxy"
                                    },
                                    {
                                        "name": "apiKeyKeychain",
                                        "type": "keychain:apikeyauth",
                                        "label": "Credentials",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "get",
                                                "head",
                                                "post",
                                                "put",
                                                "patch",
                                                "delete",
                                                "options"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "name",
                                                    "type": "text",
                                                    "label": "Name",
                                                    "required": true,
                                                    "validate": {
                                                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                                                    }
                                                },
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Value"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Header"
                                        },
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "queryParameters",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "name",
                                                    "type": "text",
                                                    "label": "Name",
                                                    "required": true
                                                },
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Value"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Parameter"
                                        },
                                        "type": "array",
                                        "label": "Query parameters"
                                    },
                                    {
                                        "name": "contentType",
                                        "type": "select",
                                        "label": "Body content type",
                                        "validate": {
                                            "enum": [
                                                "json",
                                                "multipart",
                                                "urlEncoded",
                                                "custom"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "parseResponse",
                                        "type": "boolean",
                                        "label": "Parse response",
                                        "required": true
                                    },
                                    {
                                        "name": "stopOnHttpError",
                                        "type": "boolean",
                                        "label": "Return error if HTTP request fails",
                                        "required": true
                                    },
                                    {
                                        "name": "timeout",
                                        "type": "uinteger",
                                        "label": "Timeout",
                                        "validate": {
                                            "max": 300,
                                            "min": 1
                                        }
                                    },
                                    {
                                        "name": "allowRedirects",
                                        "type": "boolean",
                                        "label": "Allow redirects",
                                        "required": true
                                    },
                                    {
                                        "name": "shareCookies",
                                        "type": "boolean",
                                        "label": "Share cookies with other HTTP modules",
                                        "required": true
                                    },
                                    {
                                        "name": "requestCompressedContent",
                                        "type": "boolean",
                                        "label": "Request compressed content",
                                        "required": true
                                    },
                                    {
                                        "name": "paginationType",
                                        "type": "select",
                                        "label": "Pagination type",
                                        "validate": {
                                            "enum": [
                                                "offsetBased",
                                                "pageBased",
                                                "urlBased",
                                                "tokenBased"
                                            ]
                                        }
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "data",
                                        "type": "any",
                                        "label": "Data"
                                    },
                                    {
                                        "name": "statusCode",
                                        "type": "number",
                                        "label": "Status Code"
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "content-length",
                                                "type": "text",
                                                "label": "Content-Length"
                                            },
                                            {
                                                "name": "content-encoding",
                                                "type": "text",
                                                "label": "Content-Encoding"
                                            },
                                            {
                                                "name": "content-type",
                                                "type": "text",
                                                "label": "Content-Type"
                                            },
                                            {
                                                "name": "server",
                                                "type": "text",
                                                "label": "Server"
                                            },
                                            {
                                                "name": "cache-control",
                                                "type": "text",
                                                "label": "Cache-Control"
                                            },
                                            {
                                                "name": "set-cookie",
                                                "spec": {
                                                    "type": "text"
                                                },
                                                "type": "array",
                                                "label": "Set-Cookie"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Headers"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}